.MainDashBody{
    height: auto;
    width: 100%;
}
.MainDashBodyDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 600px) {
    .MainDashBodyDiv {
        flex-direction: column;
    }
}
