.HeaderBody {
    height: 100px;
    width: auto;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HeaderBodyDiv {
    height: 70px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HeaderBodyDiv2 {
    height: 70px;
    width: 73%;
    background-color: aliceblue;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-page-header {
    border: 1px solid rgb(168, 169, 171);
}

.Header-Body {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid rgb(168, 169, 171);
}
.Header-Title{
    font-size: 25px;
    margin-top: 25px;
    margin-left: 3%;
    font-weight: 700;
}